{
  "rules": {
    "array-bracket-spacing": [ 2, "always" ],
    "comma-dangle": [ 2, "never" ],
    "eol-last": 2,
    "indent": [ 2, 2, { "SwitchCase": 1 } ],
    "no-multiple-empty-lines": 2,
    "no-unused-vars": 2,
    "object-curly-spacing": [ 2, "always" ],
    "quotes": [ 2, "single", "avoid-escape" ],
    "semi": 2,
    "strict": 0,
    "space-before-blocks": [ 2, "always" ]
  }
}
