<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-dbmeter" version="1.0.3">

  <name>DBMeter</name>
  <license>Apache 2.0</license>
  <description>Cordova DBMeter plugin</description>
  <keywords>cordova,phonegap,volume,sound,audio,decibel</keywords>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DBMeter">
        <param name="android-package" value="org.apache.cordova.dbmeter.DBMeter"/>
      </feature>
    </config-file>

    <source-file src="src/android/DBMeter.java" target-dir="src/org/apache/cordova/dbmeter" />
    <source-file src="src/android/PermissionHelper.java" target-dir="src/org/apache/cordova/dbmeter" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="DBMeter">
        <param name="ios-package" value="DBMeter" />
      </feature>
    </config-file>

    <source-file src="src/ios/DBMeter.swift" />
  </platform>

  <js-module src="dbmeter.js" name="DBMeter">
    <clobbers target="DBMeter" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" url="https://github.com/akofman/cordova-plugin-add-swift-support"/>
</plugin>
