<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.dbmeterdemo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DBMeterDemo</name>
    <content src="cdvtests/index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <edit-config file="*-Info.plist" mode="merge" target="NSMicrophoneUsageDescription">
            <string>need microphone access to record sounds</string>
        </edit-config>
    </platform>
    <plugin name="cordova-plugin-test-framework" spec="^1.1.6" />
    <engine name="ios" spec="~4.5.4" />
    <plugin name="cordova-plugin-dbmeter-tests" spec="../plugin/tests" />
    <plugin name="cordova-plugin-add-swift-support" spec="^1.7.1" />
    <plugin name="cordova-plugin-dbmeter" spec="^2.1.0" />
</widget>
