<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.dbmeterdemo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DBMeterDemo</name>
    <content src="cdvtests/index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
          <string>need microphone access to record sounds</string>
        </edit-config>
    </platform>
    <engine name="ios" spec="^4.5.2" />
    <plugin name="cordova-plugin-dbmeter" spec="^2.0.1" />
    <plugin name="cordova-plugin-test-framework" spec="^1.1.5" />
    <plugin name="cordova-plugin-dbmeter-tests" spec="../tests" />
</widget>
