<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DBMeterDemo</name>
    <engine name="ios" spec="~4.0.1" />
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="ios">
      <preference name="Orientation" value="all" />
    </platform>
    <plugin name="cordova-plugin-dbmeter" spec="../../cordova-plugin-dbmeter" />
</widget>
